<div class="container">
  <h1>Welcome, Guy Fieri, to your hair salon app</h1>
  <hr>
  <div class="options">
    <h4><a href="/stylists">Check out your stylists</a></h4>
    <h4><a href="/clients">Check our your clients</a></h4>
  </div>
</div>
