<h1>Welcome, Guy Fieri, to your hair salon</h1>

<h3>Add a new stylist:</h3>

<form action="/stylists" method="post">
  <label for="name">Name:</label>
  <input id="name" name="name" type="text"></br>

  <label for="author_id">Name of the author: </label>
  <input id="author_id" name="author_id" type="text">

  <button type="submit">Add Stylist</button>
</form>
